.navmenu {
    border-style: solid;
    margin-right: -1vw;
    margin-left: -1vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1.75vh;
}

#navMenu li {
    background: #39b1e0;
}

#menu li {
    list-style: none;
}

#menu a:hover {
    color: blue;
}

#menu a:active {
    color: red;
}

#menu a {
    text-decoration: none;
}

.content {
    height: 300px;
    border: cadetblue;
    border-style: dotted;
    background: #99c6e0;
    text-align: center;
    width: 1500px;
}

.content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 10px;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.footer {
    color: #39b1e0;
    text-align: right; 
}

